body{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    margin-top: 50px;
}
.añadir, .prim{
    width: 30rem;
    margin: 1rem 0.8rem;
}
 .prim{
    display: flex;
    justify-content: center;

}
.añadir{
    background-color: rgba(238, 238, 238, 0.899);
    padding: 1rem 1.5rem;
    border-radius: 8px;
}
#name{
    padding: 0.7rem 1.3rem;
    margin-right: 1.5rem;
    border-radius: 6px;
    font-size: large;
    border: solid 3px rgb(2, 144, 210,0.7);

}

#add{
    font-size: medium;
    margin: 0.25rem 1rem;
    color: #fff;
    font-weight:900;
    border: solid 2px rgb(76, 198, 255);
    border-radius: 8px;
    background-color: rgb(2, 144, 210);
}
#add:hover{
    background-color: rgb(76, 198, 255);
    color: #fff;
    
}
#add:active{
    background-color: #fff; 
    color: rgb(76, 198, 255) ;
}

.lista{
    
    height: 5.2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #000;
}
h2{
    text-align: center;
    height: 2.5rem;
    width: 17rem;
    margin:2rem;
    border-bottom: solid 1.5px rgb(2, 144, 210);
    
}
h2:focus{
    border: none;
    outline: none;
    border-bottom: solid 2px rgb(3, 159, 232);
    color: rgb(91, 107, 114);
}

.imposible, .del, .posible{
    height: 1.8rem;
    font-size: medium;
    margin: 0.2rem  0.1rem;
    background: transparent;
    border: none;
    color: #000;
}
.imposible{
    
    color: rgb(143, 141, 141);
}
.posible{
    color: rgb(0, 0, 0);
}
.posible:hover{
    color: rgb(3, 154, 224);
}
.posible:active{
    background-color: rgb(76, 198, 255);
    color: #fff;
    border-radius: 10px;
}
.del:hover{
    color: rgb(248, 69, 69);
}
.del:active{
    background-color: rgba(248, 69, 69, 0.403);
    color: #fff;
    border-radius: 10px;
} 